* {
  box-sizing: border-box; /* Prevent padding (and borders) from adding to width/height */
}

html, body {
  margin: 0px; /* Remove browser default margins */
  padding: 0px; /* Remove browser default padding */
}

html {
  height: 100%; /* Helps min-height work properly on body */
}

body {
  position: relative; /* Assist "position: absolute" below */
  padding-top: 60px; /* Must match header height; make up for header being removed from the document flow */
  padding-bottom: 60px; /* Must match footer height; make up for footer being removed from the document flow */
  min-height: 100%; /* Force body to be at least the size of the screen */
  background: grey; /* Backup color */
  background: url(https://i.postimg.cc/fbPy7vLm/how-to-make-a-giant-grilled-cheese-4784131-hero-01-9b3b6c52640f4f50a910279231658ede.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
  color: white;
}


/* Header */
h1 {
  position: fixed; /* Helps us position at the top; header no longer takes up space in the flow of the document */
  top: 0px;
  width: 100%;
  height: 60px;
  padding: 15px;
  background: rgb(44, 44, 44); /* Backup color */
  background: rgba(44, 44, 44, 0.5);
}


/* Main Content */
.main-content {
  padding: 15px;
}


/* Footer */
.site-footer {
  position: absolute; /* Helps us position at the bottom; footer no longer takes up space in the flow of the document */
  bottom: 0px;
  width: 100%;
  height: 60px;
  padding: 15px;
  background: rgb(44, 44, 44); /* Backup color */
  background: rgba(44, 44, 44, 0.5);
}
