* {
  margin: 0px;
}

head {
  background: white;
}
body {
  position: relative; /* Assist "position: absolute" below */
  /* padding-top: 60px; /* Must match header height; make up for header being removed from the document flow 
  padding-bottom: 60px; /* Must match footer height; make up for footer being removed from the document flow */
  min-height: 100%; /* Force body to be at least the size of the screen */
  /* background: white; /* Backup color */
  /*background-image: url("background.png"); */

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
  background-color: rgb(87, 84, 84);
}
.circle-img {
  border-radius: 50%;
  margin: 24px;
  height: 100px;
  width: 100px;
  display:inline-block;
} 
.demo-wrap {
  overflow: hidden;
  position: relative;
}

.demo-bg {
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.demo-content {
  position: relative;
}
hr {
  color: black;
  background: black;
  border-style: none;
  border-width: 2px;
  margin: 1px;
  overflow: shown;
}
/* <p class="headline" style=" font-size: 3.5em; font-family: helvetica; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Water Is Tasty</p> */

.headline {
  margin: 24px;
  color: white;
  display: inline-block;
  margin-left: 10px;
  width: 100px;
  height: 100px;
}

p {
  color: white;
}



/*
.site-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  padding: 15px;
  background: rgb(44, 44, 44);
  background: rgba(44, 44, 44, 0.5);
} */
